* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: 1px; }

a {
  text-decoration: none;
  color: white;
  font-size: 15px; }

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.nav {
  background: #373c3f; }

body {
  font-family: "Monserrat", Arial sans-serif; }

.wrapper {
  max-width: 320px; }

.logo {
  color: white;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1.5px;
  padding: 12px 0px 12px 19px;
  display: inline-block; }

.btn_menu {
  float: right;
  width: 62px;
  text-align: center;
  background: #202529;
  padding: 10px 0px 10px 0px; }
  .btn_menu img {
    vertical-align: middle;
    width: 18px;
    cursor: pointer; }

.navigation {
  background: #291c33;
  display: none; }

.navigation ul {
  text-align: center; }
  .navigation ul li:hover {
    background: #6f4890; }

.section_1 {
  background: #16b1c4;
  position: relative;
  height: 175px; }
  .section_1 p {
    color: white;
    font-size: 22px;
    position: absolute;
    bottom: 50%;
    transform: translate(0px, 50%);
    margin-left: 38px; }
  .section_1 .text_blazRobar {
    font-size: 10px;
    position: absolute;
    bottom: 48px;
    color: #a6d6df; }
  .section_1 .text_blazRobar:after {
    position: absolute;
    content: "";
    background: url(../img/btn_right.png);
    height: 14px;
    width: 8px;
    right: -120px;
    background-size: cover;
    cursor: pointer; }

.section_2 {
  line-height: 75px;
  background: #27212c; }

.section_2_text {
  float: left;
  width: 75%;
  background: #27212c;
  position: relative; }
  .section_2_text p {
    position: absolute;
    font-size: 10px;
    color: #897a97;
    margin-left: 12%; }

.section_2_btn {
  float: right;
  width: 25%;
  background: #bc3183;
  text-align: center; }
  .section_2_btn img {
    height: 26px;
    width: 16px;
    vertical-align: middle;
    cursor: pointer; }

.section_3 .section_3_btn {
  line-height: 275px;
  background: #5b0fa1;
  text-align: center; }
  .section_3 .section_3_btn img {
    height: 36px;
    width: 27px;
    vertical-align: middle;
    cursor: pointer; }

.section_3 .photo_1 img, .section_3 .photo_2 img {
  max-width: 100%;
  vertical-align: bottom; }

footer {
  background: #ebebeb;
  padding-bottom: 20px; }

.wrapper_footer {
  width: 78.75%;
  margin: 0 auto; }

.blaz_text {
  padding: 36px 0px 20px 0px;
  color: #088ca5; }

.text_lorem {
  color: #515151;
  font-size: 16px;
  letter-spacing: 1px; }

.last_paragraph {
  display: none; }

@media screen and (max-width: 640px) and (min-width: 321px) {
  .wrapper {
    max-width: 640px; }
  .logo {
    font-size: 18px;
    padding: 28px 0px 28px 19px; }
  .btn_menu {
    width: 84px;
    padding: 23px 0px; }
    .btn_menu img {
      width: 32px; }
  .navigation ul li {
    padding: 10px 0; }
  .section_1 {
    height: 348px; }
    .section_1 p {
      font-size: 30px;
      margin-left: 54px; }
    .section_1 .text_blazRobar {
      font-size: 16px;
      position: relative;
      top: 65%; }
    .section_1 .text_blazRobar:after {
      height: 30px;
      width: 18px;
      right: 18%; }
  .section_2 {
    line-height: 154px;
    position: relative; }
  .section_2_text p {
    font-size: 14px;
    transform: translate(-12%, 0%); }
  .section_2_btn {
    height: 154px;
    float: right;
    width: 25%;
    background: #bc3183;
    text-align: center;
    position: relative; }
    .section_2_btn img {
      position: absolute;
      height: 26px;
      width: 16px;
      cursor: pointer;
      bottom: 50%;
      transform: translate(-50%, 50%); }
  .section_3 .section_3_btn {
    line-height: 552px; }
    .section_3 .section_3_btn img {
      height: 46px;
      width: 38px; }
  .section_3 .photo_1 img, .section_3 .photo_2 img {
    width: 100%; }
  footer {
    padding-bottom: 108px; }
  .wrapper_footer {
    width: 80%; }
  .blaz_text {
    font-size: 24px; }
  .text_lorem {
    font-size: 18px; }
  .last_paragraph {
    display: block;
    margin-top: 40px; } }

@media screen and (max-width: 980px) and (min-width: 640px) {
  .wrapper {
    max-width: 980px; }
  .logo, .btn_menu {
    display: none; }
  .navigation {
    text-align: left;
    display: block; }
    .navigation ul {
      text-align: left;
      margin-left: 55px; }
      .navigation ul li {
        display: inline-block;
        line-height: 96px;
        margin-right: 10px; }
        .navigation ul li a {
          font-size: 14px; }
      .navigation ul li:hover {
        background: none; }
      .navigation ul li:hover a {
        -webkit-box-shadow: 0px 2px 0px -1px #6f4890;
        -moz-box-shadow: 0px 2px 0px -1px #6f4890;
        box-shadow: 0px 2px 0px -1px #6f4890; }
  .section_1 {
    height: 548px; }
    .section_1 p {
      font-size: 42px; }
    .section_1 .text_blazRobar {
      font-size: 24px;
      bottom: 164px;
      position: relative;
      top: 60%; }
    .section_1 .text_blazRobar:after {
      height: 30px;
      width: 18px;
      right: 13%; }
  .section_2 {
    line-height: 246px;
    position: relative; }
    .section_2 .section_2_text p {
      font-size: 22px;
      position: absolute; }
    .section_2 .section_2_btn {
      height: 246px;
      position: relative; }
      .section_2 .section_2_btn img {
        position: absolute;
        bottom: 50%;
        transform: translate(-50%, 50%); }
  .section_3 {
    font-size: 0px;
    line-height: 0;
    letter-spacing: -1px;
    height: 298px; }
    .section_3 .section_3_btn {
      height: 100%;
      width: 33.334%; }
    .section_3 .photo_1, .section_3 .photo_2 {
      width: 33.334%;
      height: 100%; }
      .section_3 .photo_1 img, .section_3 .photo_2 img {
        display: none; }
    .section_3 .photo_1 {
      background: url(../img/pic_1.png) no-repeat center/cover; }
    .section_3 .photo_2 {
      background: url(../img/pic_2.png) no-repeat center/cover; }
  .section_3_btn, .photo_1, .photo_2 {
    display: inline-block;
    vertical-align: top; }
  .wrapper_footer {
    width: 100%;
    padding: 50px; }
  .blaz_text {
    font-size: 24px; }
  .text_lorem {
    float: left;
    width: 49%;
    padding-top: 20px; }
  .right_lorem {
    margin-left: 2%; }
  .last_paragraph {
    display: block; } }

@media screen and (min-width: 981px) {
  .wrapper {
    max-width: 1020px;
    margin: 20px auto;
    -webkit-box-shadow: 0px 0px 5px 0px #5e5b5e;
    -moz-box-shadow: 0px 0px 5px 0px #5e5b5e;
    box-shadow: 0px 0px 5px 0px #5e5b5e; }
  .logo, .btn_menu {
    display: none; }
  .navigation {
    text-align: left;
    display: block; }
    .navigation ul {
      text-align: left;
      margin-left: 55px; }
      .navigation ul li {
        display: inline-block;
        line-height: 96px;
        margin-right: 10px; }
        .navigation ul li a {
          font-size: 14px; }
      .navigation ul li:hover {
        background: none; }
      .navigation ul li:hover a {
        -webkit-box-shadow: 0px 2px 0px -1px #6f4890;
        -moz-box-shadow: 0px 2px 0px -1px #6f4890;
        box-shadow: 0px 2px 0px -1px #6f4890; }
  .section_1 {
    height: 580px; }
    .section_1 p {
      font-size: 42px; }
    .section_1 .text_blazRobar {
      font-size: 24px;
      bottom: 164px;
      position: relative;
      top: 60%; }
    .section_1 .text_blazRobar:after {
      height: 30px;
      width: 18px;
      right: 13%; }
  .section_2 {
    line-height: 246px;
    position: relative; }
    .section_2 .section_2_text p {
      font-size: 22px;
      position: absolute; }
    .section_2 .section_2_btn {
      height: 246px;
      position: relative; }
      .section_2 .section_2_btn img {
        position: absolute;
        bottom: 50%;
        transform: translate(-50%, 50%); }
  .section_3 {
    font-size: 0px;
    line-height: 0;
    letter-spacing: -1px;
    height: 298px; }
    .section_3 .section_3_btn {
      height: 100%;
      width: 33.334%; }
    .section_3 .photo_1, .section_3 .photo_2 {
      width: 33.334%;
      height: 100%; }
      .section_3 .photo_1 img, .section_3 .photo_2 img {
        display: none; }
    .section_3 .photo_1 {
      background: url(../img/pic_1.png) no-repeat center/cover; }
    .section_3 .photo_2 {
      background: url(../img/pic_2.png) no-repeat center/cover; }
  .section_3_btn, .photo_1, .photo_2 {
    display: inline-block;
    vertical-align: top; }
  .wrapper_footer {
    width: 100%;
    padding: 50px 50px 180px 50px; }
  .blaz_text {
    font-size: 24px; }
  .text_lorem {
    float: left;
    width: 49%;
    padding-top: 20px; }
  .right_lorem {
    margin-left: 2%; }
  .last_paragraph {
    display: block; } }
