@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300|Montserrat:700,400);
* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: 2px; }

a {
  text-decoration: none;
  color: white;
  font-size: 15px; }

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.wrapper {
  min-width: 300px;
  margin: 0 auto; }

header {
  background: url(../img/promo_desk.jpg) center no-repeat;
  color: #fff;
  background-size: cover; }

.sign_log {
  padding: 16px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700; }
  .sign_log .Sing_up {
    border-radius: 20px;
    padding: 10px;
    border: 2px solid #fff;
    transition: 2s;
    cursor: pointer; }
  .sign_log .Sing_up:hover {
    background: rgba(255, 78, 80, 0.5);
    transition: 2s; }
  .sign_log span {
    margin: 0 10px;
    font-size: 14px; }
  .sign_log span:last-of-type {
    font-weight: 400; }
  .sign_log p:first-of-type {
    padding-top: 132px;
    padding-bottom: 38px;
    font-size: 20px; }
  .sign_log p:last-of-type {
    font-size: 30px;
    font-weight: 550;
    padding-bottom: 20px; }

.button_find_partner {
  max-width: 280px;
  background: #ff4e50;
  margin: 18px auto 128px auto;
  border-radius: 20px;
  padding: 10px 0px;
  transition: 2s;
  cursor: pointer; }
  .button_find_partner a {
    font-weight: 400; }

.button_find_partner:hover {
  background: rgba(255, 78, 80, 0.5);
  transition: 2s; }

.wrapper_section {
  max-width: 767px;
  padding: 38px 10px 0px 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center; }

span {
  font-size: 22px; }

.step {
  border-radius: 5px;
  margin: 10px 0px 0px 0px; }

.step_1 {
  background: url(../img/step_1.jpg) no-repeat;
  background-size: cover; }

.step_2 {
  background: url(../img/step_2.jpg) no-repeat;
  background-size: cover; }

.step_3 {
  background: url(../img/step_3.jpg) no-repeat;
  background-size: cover; }

.wraper_step_1 {
  padding: 68px 21px 20px 21px;
  text-align: left; }
  .wraper_step_1 span {
    color: white; }
  .wraper_step_1 p {
    text-align: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #e6e6e6;
    margin-top: 20px;
    letter-spacing: 0.5px; }

.wraper_step_2 {
  padding-top: 98px; }

.button_step_1 {
  text-align: center;
  max-width: 70px;
  border-radius: 20px;
  background: rgba(255, 78, 80, 0.8);
  margin-bottom: 18px; }
  .button_step_1 a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; }

.text_Meet_a_artner {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 21px;
  letter-spacing: 0.5px;
  margin-top: 40px; }

.img_partners p:first-of-type {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px; }

.img_partners p:last-of-type {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #989898;
  letter-spacing: 0.5px;
  padding: 10px 20px; }

.img_partners_1 {
  position: relative;
  margin: 20px 0; }
  .img_partners_1 img {
    border-radius: 70px; }

.img_partners_1:after {
  content: "";
  position: absolute;
  background: url(../img/partner_1_icon.png) no-repeat;
  width: 40px;
  bottom: 0;
  right: 50%;
  transform: translate(60px, 0);
  height: 40px;
  border: 1px solid white;
  border-radius: 50px; }

.img_partners_1_icon_1:after {
  background: url(../img/partner_1_icon.png) no-repeat; }

.img_partners_1_icon_2:after {
  background: url(../img/partner_2_icon.png) no-repeat; }

.img_partners_1_icon_3:after {
  background: url(../img/partner_3_icon.png) no-repeat; }

.img_partners_1_icon_4:after {
  background: url(../img/partner_4_icon.png) no-repeat; }

.btn_see_other_partners {
  background: #ffffff;
  border: 1px solid #ff4e50;
  margin: 0 auto; }
  .btn_see_other_partners a {
    color: #ff4e50; }

.btn_see_other_partners:hover {
  background: #ff4e50; }
  .btn_see_other_partners:hover a {
    color: black; }

.wrapper_section_ideas {
  text-align: center;
  padding: 38px 10px; }
  .wrapper_section_ideas p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 19px; }
  .wrapper_section_ideas span {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px; }

.img_ideas {
  background-size: cover;
  border-radius: 5px;
  margin-bottom: 10px; }
  .img_ideas p {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 50px 0px; }

.ideas_sport {
  background-image: url("../img/ideas_sport.jpg");
  margin-top: 25px; }

.ideas_heath {
  background-image: url("../img/ideas_heath.jpg"); }

.ideas_extreme {
  background-image: url("../img/ideas_sport_extreme.jpg"); }

.ideas_games {
  background-image: url("../img/Games.jpg"); }

.ideas_culture {
  background-image: url("../img/culture_ideas.jpg"); }

.ideas_relaxation {
  background-image: url("../img/ideas_relaxation.jpg"); }

.ideas_travelling {
  background-image: url("../img/ideas_travelling.jpg"); }

.wrapper_section_search_partners {
  text-align: center;
  padding: 0 10px; }
  .wrapper_section_search_partners p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 19px;
    margin-bottom: 20px; }
  .wrapper_section_search_partners span {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0.5px; }

.activ-search {
  margin: 15px 0 38px 0; }

.activ-search__in {
  display: block;
  margin: 0 auto;
  padding: 0 14px;
  line-height: 38px;
  width: 250px;
  height: 38px;
  border: 1px solid #ccc;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #333; }

.activ-search__in:focus {
  outline: 1px solid  #ff4e50; }

.activ-search__sub {
  display: block;
  width: 280px;
  margin: 10px auto 0;
  line-height: 38px;
  border: none;
  border-radius: 40px;
  background: #ff4e50;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-weight: 500;
  color: #fff;
  transition: 2s;
  -webkit-appearance: none; }

.activ-search__sub:hover {
  background: #CC3E40;
  text-decoration: none;
  transition: 2s;
  -webkit-appearance: none; }

.wrapper_footer {
  border-top: 4px solid #ff4e50;
  text-align: center; }
  .wrapper_footer .footer_title {
    margin: 18px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #ff4e50; }
  .wrapper_footer p {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 15px 0px; }
  .wrapper_footer ul li {
    display: inline-block;
    margin: 0px 5px; }
    .wrapper_footer ul li a {
      color: #b7b7b7;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      letter-spacing: 0.5px;
      transition: 2s; }
  .wrapper_footer li:hover a {
    color: #ff4e50;
    transition: 2s; }
  .wrapper_footer span {
    color: #b7b7b7;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 10px; }
  .wrapper_footer .logo_designed {
    margin: 15px 0; }

@media screen and (min-width: 768px) {
  .wrapper {
    max-width: 959px; }
  .sign_log {
    padding: 26px 50px;
    position: relative; }
    .sign_log .Sing_up {
      position: absolute;
      right: 50px; }
    .sign_log .Log_in {
      position: absolute;
      right: 160px;
      padding-top: 10px; }
    .sign_log .logo_URLAUBSGLÜCK {
      position: absolute;
      top: -100px; }
    .sign_log span:last-of-type {
      font-size: 23px; }
    .sign_log p:last-of-type {
      font-size: 52px;
      margin-top: 165px;
      margin-bottom: 15px; }
    .sign_log .button_find_partner {
      margin-top: 36px; }
  .wrapper_section {
    max-width: 959px; }
    .wrapper_section .step_1, .wrapper_section .step_2 {
      float: left;
      width: 32%;
      margin-right: 2%; }
    .wrapper_section .step_3 {
      float: right;
      width: 32%; }
    .wrapper_section .wraper_step_1 {
      height: 400px;
      padding: 180px 20px 20px 28px; }
    .wrapper_section .wraper_step_2 {
      padding-top: 200px; }
  .text_Meet_a_artner {
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px; }
  .wrapper_img_partners {
    width: 80%;
    margin: 0 auto; }
  .img_partners {
    width: 50%;
    float: left; }
  .btn_see_other_partners {
    margin-top: 20px;
    width: 200px; }
  .wrapper_section_ideas {
    width: 80%;
    margin: 0 auto; }
  .img_ideas {
    float: left;
    width: 32%;
    height: 300px; }
    .img_ideas p {
      line-height: 300px;
      padding: 0; }
  .img_ideas_bord {
    margin: 0 2%; }
  .ideas_sport {
    margin-top: 0; }
  .last_img_ideas {
    width: 100%; }
  .activ-search {
    width: 70%;
    margin: 40px auto 100px auto; }
  .input_search {
    float: left;
    margin: 0; }
  .activ-search__in {
    float: left;
    margin-left: 10%; }
  .activ-search__sub {
    float: right;
    width: 150px;
    margin: 0 10% 0 0;
    -webkit-appearance: none; }
  .wrapper_footer {
    width: 100%; }
  .footer_title, .footer_block, .footer_Partners {
    float: left; }
  .footer_design {
    float: right;
    margin-right: 38px; }
  .footer_block ul li {
    display: block;
    text-align: left;
    margin-top: 7px; }
  .wrapper_footer {
    padding: 40px 0; }
    .wrapper_footer .footer_title {
      margin: 0px 90px 0px 38px; }
    .wrapper_footer .footer_block {
      margin-right: 110px; }
      .wrapper_footer .footer_block p {
        margin: 0 0 10px 0; }
    .wrapper_footer .footer_Partners {
      margin: 0 0px 0 50px; } }

@media screen and (min-width: 960px) {
  .wrapper {
    max-width: 1440px; }
  .sign_log .Sing_up {
    right: 250px; }
  .sign_log .Log_in {
    right: 360px; }
  .sign_log .logo_URLAUBSGLÜCK {
    left: 250px; }
  .sign_log .button_find_partner {
    width: 256px; }
  .wrapper_section {
    max-width: 940px;
    margin: 40px auto 0 auto; }
  .wrapper_img_partners {
    width: 940px; }
  .img_partners {
    width: 25%; }
  .btn_see_other_partners {
    margin: 40px auto; }
  .wrapper_section_ideas {
    width: 940px; }
    .wrapper_section_ideas p {
      padding-bottom: 40px; }
  .activ-search {
    margin: 40px auto 100px auto; }
  .activ-search__in {
    float: none;
    margin: 0 auto;
    display: inline-block; }
  .activ-search__sub {
    float: none;
    margin: 0 0 0 20px;
    display: inline-block;
    -webkit-appearance: none; }
  .footer_design {
    margin-right: 10%; }
  .wrapper_footer .footer_title {
    margin: 0 15% 0 10%; }
  .wrapper_footer .footer_block {
    margin-right: 10%px; }
    .wrapper_footer .footer_block p {
      margin: 0 0 10px 0; } }
